node_modules/
coverage/
storage/
docs/
**/*.md
package-lock.json
.github
# We add an ignore to the .github folder since making changes there for our auto commit
# Actions require additional permissions
